In [1]:
import pandas as pd

In [111]:
df = pd.read_csv("data/jre_elon_musk.csv")
df.head()

    Timestamp    Speaker                                               Text
0  [00:00:00]  Joe Rogan  Ah, ha, ha, ha. Four, three, two, one, boom. T...
1  [00:00:09]  Elon Musk                                    You're welcome.
2  [00:00:10]  Joe Rogan                        It's very good to meet you.
3  [00:00:11]  Elon Musk                              Nice to meet you too.
4  [00:00:12]  Joe Rogan    And thanks for not lighting this place on fire.

In [112]:
# Print the first ten lines of text
print(df.Text[0:10])

0    Ah, ha, ha, ha. Four, three, two, one, boom. T...
1                                      You're welcome.
2                          It's very good to meet you.
3                                Nice to meet you too.
4      And thanks for not lighting this place on fire.
5                 You're welcome. That's coming later.
6    How does one, just in the middle of doing all ...
7    Well, the flame, we didn't put a lot of time i...
8                                            Now, who-
9    And then, we have a merchandise section that o...
Name: Text, dtype: object

In [113]:
# Create a function to convert timestamp into seconds
import re
from datetime import datetime
def convert_timestamp_into_seconds(timestamp):
    seconds = []
    for i in timestamp:
        h,m,s = re.findall("\d+", i)
        second = int(h)*60*60 + int(m)*60 + int(s)
        seconds.append(second)
    return seconds

In [114]:
# Convert the Timestamp column using the function defined above
df["Timestamp"] = convert_timestamp_into_seconds(df["Timestamp"])

In [85]:
df

      Timestamp    Speaker                                               Text
0             0  Joe Rogan  Ah, ha, ha, ha. Four, three, two, one, boom. T...
1             9  Elon Musk                                    You're welcome.
2            10  Joe Rogan                        It's very good to meet you.
3            11  Elon Musk                              Nice to meet you too.
4            12  Joe Rogan    And thanks for not lighting this place on fire.
...         ...        ...                                                ...
1826       9401  Joe Rogan            I believe it's true too. So, thank you.
1827       9403  Elon Musk                                    You're welcome.
1828       9404  Joe Rogan  All you assholes out there, be nice. Be nice, ...
1829       9410  Elon Musk                              All right, thank you.
1830       9410  Joe Rogan  Good night, everybody. END OF TRANSCRIPTAutoma...

[1831 rows x 3 columns]

In [115]:
# Add a column with the seconds lasted by the text in the row
# for example: the first row lasts 9 seconds, since Elon Musk
# answer at the second 9 (Hint: use shift with period - 1).
# In case of negative numbers, just make them 1 (minimum interval lenght is 1 second)
import numpy as np
def max1(x):
    x = x.shift(-1) - x.shift(0)
    return np.maximum(1,x)


df["Interval"] = max1(df.Timestamp)

In [116]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1831 entries, 0 to 1830
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Timestamp  1831 non-null   int64
 1   Speaker    1831 non-null   object
 2   Text       1831 non-null   object
 3   Interval   1830 non-null   float64
dtypes: float64(1), int64(1), object(2)
memory usage: 57.3+ KB

In [117]:
df.Speaker.unique()

array(['Joe Rogan', 'Elon Musk', 'Jaime'], dtype=object)

In [134]:
# Total seconds spoken by Joe Rogan
df.loc[df['Speaker'] == 'Joe Rogan', 'Interval'].sum()

4636.0

In [132]:
# Total seconds spoken by Elon Musk
df.loc[df['Speaker'] == 'Elon Musk', 'Interval'].sum()

5075.0

In [133]:
# Total seconds spoken by Jaime
df.loc[df['Speaker'] == 'Jaime', 'Interval'].sum()

45.0

In [125]:
# Average speaking interval for each person
df.groupby('Speaker').mean()

             Timestamp  Interval
Speaker
Elon Musk  5079.642464  5.583058
Jaime      5386.823529  2.647059
Joe Rogan  5095.106077  5.128319

Who speaks faster?

Tokenize the text, preprocess the tokens so that you have only words (excluding punctuation) and compute the velocity of each speaker as: number of words per interval / length of interval . Store the result in a column named Velocity and compute the average for each speaker.

In [14]:
# Preprocess the data
import spacy

nlp = spacy.load("en_core_web_sm")

# Create a function to remove punctuation from text

def remove_punctuation(text):
    for token in text:
        if token.is_punct:
            continue
        else:
        return token.text

# Create a function to count the non punctuation token of a text

def count_tokens(text):
    total_puncts = []
    for token in text:
        if token.is_punct:
        total_puncts.append(token.text)
    return sum(total_puncts)
    
# Create a function to remove stop words from text
    
def remove_stopwords(text):
    # your code here

df["TextNoPunct"] = remove_punctuation(df.Text)

In [15]:
# Put the number of tokens of each row in a new column
df["n_tokens"] = # your code here

In [16]:
df

,Timestamp,Speaker,Text,Interval,TextNoPunct,n_tokens
0,0,Joe Rogan,"Ah, ha, ha, ha. Four, three, two, one, boom. T...",9.0,Ah ha ha ha Four three two one boom Thank you ...,19
1,9,Elon Musk,You're welcome.,1.0,You 're welcome,3
2,10,Joe Rogan,It's very good to meet you.,1.0,It 's very good to meet you,7
3,11,Elon Musk,Nice to meet you too.,1.0,Nice to meet you too,5
4,12,Joe Rogan,And thanks for not lighting this place on fire.,1.0,And thanks for not lighting this place on fire,9
...,...,...,...,...,...,...
1826,2921,Joe Rogan,"I believe it's true too. So, thank you.",2.0,I believe it 's true too So thank you,9
1827,2923,Elon Musk,You're welcome.,1.0,You 're welcome,3
1828,2924,Joe Rogan,"All you assholes out there, be nice. Be nice, ...",6.0,All you assholes out there be nice Be nice bit...,18
1829,2930,Elon Musk,"All right, thank you.",1.0,All right thank you,4
1830,2930,Joe Rogan,"Good night, everybody. END OF TRANSCRIPTAutoma...",1.0,Good night everybody END OF TRANSCRIPTAutomate...,17

In [17]:
# Compute the velocity and store it in a new column

df["Velocity"] = # your code here

In [18]:
df

,Timestamp,Speaker,Text,Interval,TextNoPunct,n_tokens,Velocity
0,0,Joe Rogan,"Ah, ha, ha, ha. Four, three, two, one, boom. T...",9.0,Ah ha ha ha Four three two one boom Thank you ...,19,2.111111
1,9,Elon Musk,You're welcome.,1.0,You 're welcome,3,3.000000
2,10,Joe Rogan,It's very good to meet you.,1.0,It 's very good to meet you,7,7.000000
3,11,Elon Musk,Nice to meet you too.,1.0,Nice to meet you too,5,5.000000
4,12,Joe Rogan,And thanks for not lighting this place on fire.,1.0,And thanks for not lighting this place on fire,9,9.000000
...,...,...,...,...,...,...,...
1826,2921,Joe Rogan,"I believe it's true too. So, thank you.",2.0,I believe it 's true too So thank you,9,4.500000
1827,2923,Elon Musk,You're welcome.,1.0,You 're welcome,3,3.000000
1828,2924,Joe Rogan,"All you assholes out there, be nice. Be nice, ...",6.0,All you assholes out there be nice Be nice bit...,18,3.000000
1829,2930,Elon Musk,"All right, thank you.",1.0,All right thank you,4,4.000000
1830,2930,Joe Rogan,"Good night, everybody. END OF TRANSCRIPTAutoma...",1.0,Good night everybody END OF TRANSCRIPTAutomate...,17,17.000000

In [19]:
# Inspect the avg velocity of each speaker

Speaker
Elon Musk    2.882109
Jaime        3.597523
Joe Rogan    3.046772
Name: Velocity, dtype: float64

After all, Elon was high...

![image](https://bsmedia.business-standard.com/_media/bs/img/article/2018-09/09/full/1536463138-6668.jpg)

In [ ]:
#